.App {
    margin: 10px;
}

.style_button {
    text-decoration: none;
    margin: 0.5vw;
    color: black;
    background-color: lightskyblue;
    padding: 1vh 2vw;
    border-radius: 5px;
    border: none;
}

.style_button:hover {
    background-color: palevioletred;
}

.input_text {
    padding: 1vh;
    width: 25vw;
}

.add_button {
    background-color: lightskyblue;
    padding: 1vh 2vw;
    border-radius: 5px;
    border: none;
    margin-left: 0.5vw;
}

.movies_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.movies_background {
    background-color: cadetblue;
}